<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>予約確認</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h3><i class="fa fa-calendar-check-o"></i> 予約確認</h3>
            </div>
            <div class="card-body">
              <p class="lead">
                以下の内容で予約の申請を受け付けました。以下の情報は申請情報であり、予約が確定したわけではありません。
              </p>
              <hr />
              <p><strong>クリニック: </strong>{{ clinic }}</p>
              <p><strong>患者名: </strong>{{ patient_name }}</p>
              <p><strong>予約日: </strong>{{ appointment_date }}</p>
              <p><strong>予約時刻: </strong>{{ appointment_time }}</p>
            </div>
            <div class="footer-links">
              <a href="/view_applications" class="btn"
                >申請中の予約を確認する</a
              >
              <a href="/" class="btn">予約申請画面に戻る</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
